# Xcode
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
*.xcodeproj/iFinesse.xcworkspace/xcuserdata
*.xcodeproj/iFinesse.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings


# Swift Package Manager
.build/
Packages/

# General
*.DS_Store
build/
DerivedData/